Langchain
langchain_community
streamlit
python-dotenv
openai
youtube-transcript-api
Tiktoken
sentence_transformers
faiss-cpu
scikit-learn
requests
googletrans==4.0.0-rc1
youtube-transcript-api
pytube
youtube_dl
